{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4" style="text-align:center;color:#185871;font-weight:600">My Awesome Cart - SHOPAY!</h1>
      <p style="text-align:center;color:#185871;font-weight:500">My Awesome Cart - SHOPAY Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.As of March 2017, Shopay held a 39.5% market share of India's e-commerce industry.Shopay is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with
 Amazon in the sale of electronics and mobile phones.
Shopay also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Shopay for US$16 billion, valuing it at $22 billion.</p>
      <p style="text-align:center"><a style=" background-color: #FF6347; color:white;"class="btn btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 style="font-size:22px; color:#185871; text-align:center;font-weight:500"> Shopay - Creating Trust </h2>
        <p style="font-size:13px; color:#185871; text-align:center; font-weight:400">Shopay, the brand behind a unique online market, faces a unique challenge in building trust: their product is new to many users. Angelia Morrison, co-owner and CEO of Ultasmile has done an amazing job building trust in her product by educating consumers through her use of the colorful social media marketing.</p>
        <p style="text-align:center;"><a style=" background-color: #FF6347; color:white;" class="btn" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-size:22px; color:#185871; text-align:center;font-weight:500">Easy Navigation</h2>
        <p style="font-size:13px; color:#185871; text-align:center; font-weight:400">It is hard to understate the importance of a good user interface when it comes to navigation in eCommerce website design. The ability of users to find what they are searching for is paramount to your success. Detailed pull-down menus allow visitors to choose their own adventure in terms of product categories.</p>
        <p style="text-align:center;"><a style=" background-color: #FF6347; color:white;" class="btn" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-size:22px; color:#185871; text-align:center;font-weight:500">Multiple Payment Options </h2>
        <p style="font-size:13px; color:#185871; text-align:center; font-weight:400">In the case of Evolve, they offer customers the options to pay by credit card, PayPal, debit card or Sezzle. And, these flexible options don't stop there. Evolve Clothing Gallery offers customers the option to buy now and pay later, with the flexibility to split their costs into affordable or valuable  payments over the time.</p>
        <p style="text-align:center;"><a style=" background-color: #FF6347; color:white;" class="btn" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
